@charset "UTF-8";

.hidden-onload {
  display: none;
}


.custom-scripts {
  display: none;
}

.conferences-list {
  table-layout: fixed;
  overflow-wrap: anywhere;
}

@media only screen and (max-width: 40em) {
  .conferences-list {
    font-size: xx-small;
  }
}

table {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
  border: none;
  table-layout: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  padding: 0.5em 0.5em;
  border: 1px solid;
  border-color: #dddddd;
}
